
/* 基本設定 */ 
    body,td,th{
    font-size:70%;  
    color:#555555;  
    font-family:Georgia,Verdana,Osaka,'MS P Gothic';
    font-weight:normal;
    margin:auto;
    padding: auto;


        
}

    body{
        height: 600px;
        width: 600px;
        text-align:center;
/*
        border-top:5px solid gray;
        border-bottom:5px solid gray;
*/
    
}

/* リンク設定 */ 
a:link{text-decoration:none;color:#81BEF7;}/* リンクに触れる前の色 */ 
a:visited{text-decoration:none;color:#81BEF7;}/* 訪問したことのあるリンクの色 */ 
a:hover{text-decoration:none;color:#ff3333;}/* 触れた時のリンク設定 */

/* リスト設定 */ 
ul,ol{
    list-style-position:inside;
    margin:5px 0px 0px 15px;
} 

 /* 画像のボーダーをあらかじめ０にする */
img{border:none;}

/* フォーム関連の設定 */
textarea{
    font-size:11px;
    line-height:17px;
    padding:5px;
}
textarea,input{
    color:#81BEF7; /* #81BEF7 */
    border:1px solid #cccccc;
    background-color:#ffffff;
}

/* 装飾用box */
.box1{
    border:3px double #99cc33;
    background-color:#ffffff;
}
.box2{
    border:1px solid #ff6666;
    background-color:#ffcccc;
}
.box1,.box2{width:450px;margin:15px 0px 0px 0px;padding:5px;}

/* 配布元リンク */
#copyright{font-size:11px;padding:3px 0px 0px 20px;}

/* デザイン全般の設定 */
#all{
    text-align:left;
    width:auto;  /* 幅 */
    margin:0px auto;
}
.ta1{margin:10px 0px 20px 0px;}
.ta3{padding:0px 0px 0px 10px;}
.ta2,.ta3{background-color:#eeeeee;}

#footer{
    color:#aaaaaa;
    text-align:center;
    line-height:20px;
    background:url(bg01.gif) repeat-x 0% 0%;
    margin:30px 0px 0px 0px;
    padding:20px 0px 70px 0px;
}
#navi ul{
    font-size:25px;
    list-style:none;
    text-align:center;
    margin:0px;
    padding:70px 0px 20px 0px;
}
#navi li{display:inline;margin:0px 10px;}

/* 見出し設定 */ 
h1{
    font-size:70px;
    color:#aaaaaa;
    font-weight:normal;
    text-align:center;
    margin:0px;
    padding:70px 0px 50px 0px;
}
h1:first-letter{color:#81BEF7;}
h2{
    font-size:23px;
    color:#cccccc;
    background:url(bg01.gif) repeat-x 0% 0%;
    margin:0px;
    padding:15px 0px 0px 10px;
}
h2:first-letter{color:#81BEF7;}
h3{
    font-size:11px;
    color:#81BEF7;
    border-left:5px solid #ffaa33;
    margin:10px 0px 0px 10px;
    padding:8px 10px;
}

/* メニュー設定 */
.menu01,.menu02,.menu03{font-size:15px;color:#aaaaaa;}

.menu01{margin:15px 0px 30px 30px;}
.menu01 ul{list-style-type:decimal;margin:0px;padding:0px;}
.menu01 li{padding:0px 0px 7px 0px;}
.menu01 li a{padding:0px 0px 0px 10px;}

.menu02{margin:15px 0px 30px 30px;}
.menu02 ul{list-style:none;margin:0px;padding:0px;}
.menu02 li{display:inline;}
.menu02 li a{padding:0px 7px 0px 0px;}

.menu03{float:left;margin:20px 30px 20px 30px;}
.menu03 ul{list-style-type:circle;margin:0px;padding:0px;}
.menu03 li{padding:0px 0px 7px 0px;}


/* テキスト設定 */
.text1{
    line-height:22px;
    padding:20px 20px 30px 30px;
}
.text2{
    clear:both;
    line-height:19px;
    text-align:right;
    padding:10px 20px 20px 20px;
}

/* リンクページの設定 */ 
dl.banner{margin:0px 0px 15px 0px;}
dl.banner dt{float:left;margin:0px 20px 0px 0px;}
dl.banner dd{text-decoration:underline;margin:0px 0px 0px 0px;}

/* その他要素 */ 
em{font-style:normal;font-weight:bold;}
strong{color:#ffffff;background-color:#81BEF7;}
ins{text-decoration:none;border-bottom:2px solid #81BEF7;}
del{text-decoration:line-through;}
